services:

  mealie:
    image: ghcr.io/mealie-recipes/mealie:latest
    container_name: mealie
    deploy:
      resources:
        limits:
          memory: 500M
    volumes:
      - "${DATA_PATH}/mealie:/app/data/"
    environment:
      - ALLOW_SIGNUP=true
      - PUID=1000
      - PGID=1000
      - MAX_WORKERS=1
      - WEB_CONCURRENCY=1
      - BASE_URL=http://mealie.chst.dev
        #ports:
        #- 9001:9000
    restart: always
    env_file:
      - ../envs/base.env
      - ../envs/db_recipes.env

networks:
  default:
    name: lsio
    external: true
