version: "2.2"

services:

  app:
    image: "jc21/nginx-proxy-manager:latest"
    container_name: "nginx-proxy-manager"
    environment:
      - "PUID=1000"
      - "PGID=1000"
    volumes:
      - "${DATA_PATH}/nginx-proxy-manager:/data"
      - "${DATA_PATH}/letsencrypt:/etc/letsencrypt"
      - "${DATA_PATH}/nginx/snippets:/snippets:ro"
    networks:
      default:
        ipv4_address: "${LSIO_IP}.70"
    ports:
      - 443:443
      - 80:80
      #- 81:81 # (Manager for Emergencies)
    restart: "unless-stopped"
    env_file:
      - ../envs/base.env

  authelia:
    image: "authelia/authelia"
    container_name: "authelia"
    depends_on:
      - app
    volumes:
      - "${DATA_PATH}/authelia:/config"
    restart: "unless-stopped"
    env_file:
      - ../envs/base.env

  homepage:
    image: "ghcr.io/gethomepage/homepage:latest"
    container_name: "homepage"
    depends_on:
      - app
      - authelia
    environment:
      - "PUID=1000"
      - "PGID=1000"
      - "HOMEPAGE_ALLOWED_HOSTS=*"
    volumes:
      - "${DATA_PATH}/homepage:/app/config"
      - "${DATA_PATH}/icons:/app/public/icons"
      - "${DATA_PATH}/images:/app/public/images"
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
    #ports:
    #  - 3000:3000
    restart: "unless-stopped"
    env_file:
      - ../envs/base.env

networks:
  default:
    name: lsio
    external: true
