version: "2.1"

services:

  code-server:
    image: lscr.io/linuxserver/code-server:latest
    privileged: true
    container_name: code-server
    environment:
      - PUID=1000
      - PGID=1000
      - DEFAULT_WORKSPACE=/config/workspace
      - PWA_APPNAME=code-server
    volumes:
      - "${DATA_PATH}/code-server:/config"

      # Some different folders
      - "${DATA_PATH}/authelia:/config/workspace/authelia"
      - "${DATA_PATH}/homepage:/config/workspace/homepage"
      - "${DATA_PATH}/nginx:/config/workspace/nginx"
      - "${SOURCE_PATH}:/config/workspace/infra"
    networks:
      default:
        ipv4_address: "${LSIO_IP}.40"
    #ports:
    #  - 8443:8443
    restart: unless-stopped
    env_file:
      - ../envs/base.env

networks:
  default:
    name: lsio
    external: true
