version: '3.1'

services:

  postgres:
    image: "postgres"
    container_name: "postgres"
    volumes:
      - "${DATA_PATH}/db:/var/lib/postgresql"
    restart: always
    env_file:
      - ../envs/db_pg.env
      - ../envs/base.env

  pgadmin:
    image: "dpage/pgadmin4"
    container_name: "pgadmin"
    depends_on:
      - postgres
    restart: always
    #ports:
    #  - "8181:80"
    env_file:
      ../envs/db_pgadmin.env

networks:
  default:
    name: lsio
    external: true
